body {
  font-family: Courier New;
  text-align: center;
  margin-top: 50px;
  font-smooth: never;
}

button {
  padding: 10px 20px;
  font-size: 32px;
}

feedback {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  height: 30px;
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}
